[workstations]
35.156.251.201

[masters]
35.157.60.209

[agents]
35.157.59.17
35.157.55.236
35.157.82.238

[common:children]
workstations
masters
agents

[common:vars]
workstation_ip=172.31.103.215


# For remote access the DCOS Dashboard specify the IP of your computer/lan
admin_ip=217.110.123.251

# public key for ssh access
normal_ssh_key = "/Users/jan/.ssh/cloud_test.pub"
