{
  "name": "calico",
  "type": "flannel",
  "delegate": {
    "type": "calico",
    "etcd_endpoints": "http://{{ etcd_ip }}:{{ etcd_port }}",
    "nodename": "{{ host_ip }}"
 },
 "ipam": {
    "type": "host-local",
    "subnet": "{{ flannel_subnet }}" 
 }
}
